body{
	width: 80%;
	margin: 0 auto;
	color: blue;
}

header, footer {
	text-align : center;
}

hr{
	height : 3px;
	background-color:red;
	box-shadow: 5px 5px 5px black;
	
}

header span{
	font-size:48px;
	color: orange;
	text-shadow: 5px 5px 5px black;
	font-family: cursive;
}

footer img{
	height: 50px;
	width: 50px;
}

section{
	min-height: 450px;
	background-color: wheat;
}

section h2{
	text-align: center;
}

table{
	margin: 0 auto;
	border-collapse:collapse;
}

th, td{
	padding: 10px;
}

#home a{
	background-color:red;
	color:white;
	padding: 10px;
	box-shadow:5px 5px 5px black;
	border-radius:5px;
	line-height:30px;
	text-decoration:none
}

#home a:hover{
	background-color: black;
	color:white;
}

#tlist th{
	background-color:red;
	color: white;
}

#tlist tr:nth-child(odd){
	background-color:#F0E68C;
	
}
#tlist tr:nth-child(even){
	background-color:#FFFFE0;
	color:black;
	
}